@define-color noti-bg #2E3440;
@define-color noti-bg-alt #3B4252;
@define-color noti-bg-hover #434C5E;
@define-color text-color #D8DEE9;

* {
    font-family: "JetBrains Mono Nerd Font";
    font-weight: bold;
    font-size: 1rem;
}

.control-center,
.notification {
    background: @noti-bg;
    color: @text-color;
    border-radius: 10px;
    border: none;
}

.floating-notifications {
    background: transparent;
    border: none;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 1;
    background: @noti-bg;
    border-radius: 10px;
}

.notification-row {
    outline: none;
}

.notification-default-action,
.notification-action {
    border: none;
    border-radius: 10px;
    background: @noti-bg;
    color: @text-color;
}

.notification-default-action:hover,
.notification-action:hover {
    background: @noti-bg-hover;
    color: @text-color;
}

.close-button {
    background: #f7768e;
    color: @noti-bg;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
    padding: 0;
    border: none;
}

.close-button:hover {
    background: #f7768e;
    box-shadow: none;
    transition: all .15s ease-in-out;
}

.inline-reply-entry {
    background: @noti-bg;
    color: @text-color;
    caret-color: @text-color;
    border-radius: 10px;
    border: none;
}

.inline-reply-button {
    font-size: 0.5rem;
    margin-left: 4px;
    background: @noti-bg;
    border-radius: 10px;
    color: @text-color;
    border: none;
}

.inline-reply-button:hover {
    background: @noti-bg-hover;
}

.inline-reply-button:disabled {
    background: initial;
    color: @text-color;
    border: none;
}

.widget-title,
.widget-dnd,
.widget-mpris,
.widget-buttons-grid,
.widget-volume,
.widget-backlight {
    background: @noti-bg-alt;
    color: @text-color;
    border-radius: 10px;
    border: none;
}

.widget-title>button {
    font-size: 0.75rem;
    color: @text-color;
    border-radius: 10px;
    background: transparent;
    border: none;
}

.widget-title>button:hover {
    background: @text-color;
    color: red;
}

.widget-dnd>switch {
    border-radius: 10px;
    background: #8aadf4;
    border: none;
}

.widget-dnd>switch:checked {
    background: #f7768e;
    border: none;
}

.widget-dnd>switch slider,
.widget-dnd>switch:checked slider {
    background: @noti-bg;
    border-radius: 10px;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    margin: 1px;
    background: @noti-bg;
    border-radius: 10px;
    color: @text-color;
    border: none;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    background: @text-color;
    color: @noti-bg-hover;
}

.widget-volume>box>button {
    background: #8aadf4;
    border: none;
}

.per-app-volume {
    background-color: @noti-bg;
    color: @text-color;
    border-radius: 10px;
    border: none;
    padding: 4px 8px 8px;
    margin: 0 8px 8px;
}

.blank-window {
    background: alpha(black, 0.1);
}
